---
import MSPALayout from '../../layouts/MSPALayout.astro';
const canonical = Astro.site ? new URL('/news/sample-2', Astro.site).toString() : undefined;
---
<MSPALayout title="Update: Bards Quest First Chapter release." description="Theme presets based on the 12 aspects." canonical={canonical}>
  <h1>Update: Bards Quest First Chapter Release.</h1>
  <p>So wow that went off with a banger of a start. You got a game, 3 animations, and mucho texto! Wow! What else could you really be asking for?</p>
  <p>You want more? Well your gonna have to wait, I'm not some broke college student with hours to throw my soul into. You know what will make me able to devote more time away from my salary slavery into this passion project? Gingle gingle. </p>
  <p>Jokes aside dependent upon the response of people to this content I'll write more.</p>
  <p>I guess I should say on the outset that this is obviously a work based off Homestuck, please read the original work, if not this will be harder to follow, but tyring my best to make it somewhat understandable if you haven't.</p>
  <p>If there are questions about the commic or you just want to say you think it sucks feel free to message me over the website formerly known as twitter, and I might get back to you at some point this century. If any of them are intresting enough questions/comments I might make a post here about it but probably not lol, lmao.</p>
  <p></p>
  <div class="ctas">
    <a href="/news" class="cta">&gt; Back to News.</a>
    <a href="/" class="cta">&gt; Return Home.</a>
  </div>
</MSPALayout>
