---
import MSPALayout from '../../layouts/MSPALayout.astro';
const canonical = Astro.site ? new URL('/news/sample-1', Astro.site).toString() : undefined;
---
<MSPALayout title="Update: Bards Quest Website Launch" description="Details about website." canonical={canonical}>
  <h1>Update: Bards Quest Website Launch</h1>
  <p>So the website is done now, functionality of it is about how I want it, there are other areas up for change but not really much that will be worked on till I need to figure it out with respect to the commic.</p>
  <ul style="text-align:left; max-width:640px; margin: .5rem auto;">
    <li>Options lets you mess with viewing the website.</li>
    <li>If you want to donate I accept crypto and have a patreon, links above.</li>
    <li>Keep informed about news here, might be relivant at times.</li>
  </ul>
  <div class="ctas">
    <a href="/news" class="cta">&gt; Back to News.</a>
    <a href="/" class="cta">&gt; Return Home.</a>
  </div>
</MSPALayout>
