---
// Utility links component - handles save/load, auto-log, etc.
---

<div class="mspa-utility">
  <div class="left">
    <a id="link-start" href="/read/1/1">Begin Anew</a>
    <span class="sep">|</span>
    <a id="link-back" href="#">Go Back</a>
  </div>
  <div class="right">
    <a id="link-save" href="#">Log Location</a>
    <span class="sep">|</span>
    <button id="link-auto" class="as-link" aria-pressed="false">Auto Log: OFF</button>
    <span class="sep">|</span>
    <a id="link-load" href="#">Go to Location</a>
    <span class="sep">|</span>
    <a id="link-delete" href="#">Remove Log</a>
  </div>
</div>